[submodule "daftacademy-frontend_levelup-spring2019/daftacademy-frontend_levelup-homework-4a"]
	path = daftacademy-frontend_levelup-spring2019/daftacademy-frontend_levelup-homework-4a
	url = https://github.com/AndriiChemerys/daftacademy-frontend_levelup-spring2019-js_promises
