* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    /* page layout */
    display: grid;
    grid-auto-rows: 100px minmax(200px, auto) minmax(200px, auto) 100px;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-template-areas:
        "header"
        "sidebar"
        "content"
        "footer";
}

.page-header {
    background-color: #1A1C22;
    grid-area: header;
}

.page-sidebar {
    background-color: #6C757D;
    grid-area: sidebar;
}

.page-content {
    grid-area: content;

    /* content layout */
    display: grid;
    grid-gap: 15px;
    grid-template: repeat(6, 1fr) / 1fr;
}

.page-content__section {
    background-color: #343A40;
}

.page-footer {
    background-color: #1A1C22;
    grid-area: footer;
}

@media screen and (min-width: 600px) {
    .page-content {
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    body {
        grid-auto-rows: 100px auto 100px;
        grid-template-columns: 400px auto;
        grid-template-areas:
            "header header"
            "sidebar content"
            "sidebar content"
            "footer footer";
    }
}

@media screen and (min-width: 1200px) {
    .page-content {
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    }
}