.page-nav {
    font-family: 'Arial', sans-serif;
    padding: 3%;
    color: black;

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
